<strong>Olá, {{meetup.User.name}}</strong><br />

<p>Aqui está a nova inscrição para <strong>{{meetup.title}} </strong>:</p>

<p>
  <strong>Inscrito: </strong> {{user.name}}
  <br />
  <strong>E-Mail: </strong> {{user.email}}
</p>
